@import '../../styles/settings.scss';

.project {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 4rem;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }


  &__image-container {
    position: relative;
    width: 100%;
    box-shadow: 0 0 2px 2px white;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $accent-color;
      opacity: 0.15;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__details {
    padding: 4rem 3rem;
    background: #111;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: $light-text-color;
    transform: translateY(85%);
    transition: transform 0.3s ease-out;

    &--active {
      transform: translateY(0);
      .project__toggle img {
        transform: rotate(180deg);
      }
    }
  }

  &__toggle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #111;
    border: none;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    cursor: pointer;
    transform-origin: left;
    transition: transform 0.1s ease;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      height: 3rem;
      transition: transform 0.2s ease;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      box-shadow: 0 0 5px 3px $accent-color;
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    line-height: 1;
    letter-spacing: 0.12em;
  }

  &__description {
    opacity: 0.75;
    line-height: 1.5;
    margin-bottom: 1rem;
  }

  &__stack {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    &-item {
      margin-left: 1rem;
      height: 2.5rem;
    }
  }

  &__link {
    padding: 0.8rem 1.6rem;
    border: 1px solid $accent-color;
    text-decoration: none;
    color: $light-text-color;
    margin-right: 2rem;
    border-radius: 5px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    overflow: hidden;

    &-icon {
      height: 1.6rem;
      margin-right: 1rem;
      display: block;
      float: left;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: $accent-color;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.2s ease;
    }

    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
    }
  }
}
