@import './normalize.scss';
@import './settings.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $main-font;
  font-size: 1.6rem;
  background: $main-color;
  color: $light-text-color;
  padding-top: 6rem;
}

@media (max-width: 450px) {
  body {
    padding: 8rem 1rem 1rem 1rem;
  }
}
