@import './normalize.scss';
@import './settings.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $main-font;
  font-size: 1.6rem;
  color: $light-text-color;
  background: #000;
  padding-top: 8rem;
  background-image: url('../assets/stars.png');
  background-size: 200vh;
  background-attachment: fixed;
}
