@import '../../styles/settings.scss';

.about {
  max-width: 85%;
  &__img-container {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    shape-outside: circle();
    float: right;
    overflow: hidden;
    margin: 1rem;
  }
  &__img {
    width: 100%;
    transform: translateY(-30px);
  }
  &__text {
    display: inline;
    line-height: 1.5;

    &-part {
      display: block;
      margin-bottom: 2rem;
      strong {
        // inline-block to animate transform
        display: inline-block;
        color: $secondary-color;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 600px) {
  .about {
    margin-top: 0;
  }
  .about__img-container {
    width: 15rem;
    height: 15rem;
  }
}
