@import '../../styles/settings.scss';

.about {
  max-width: 70%;
  margin-top: -6rem;
  &__img-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    shape-outside: circle();
    float: right;
    overflow: hidden;
    margin: 1rem;
  }
  &__img {
    width: 100%;
    transform: translateY(-30px);
  }
  &__text {
    display: inline;
    line-height: 1.5;

    &-part {
      display: block;
      margin-bottom: 2rem;
      strong {
        color: $secondary-color;
      }

      &:first-child {
        margin-top: 6rem;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__cta {
    cursor: pointer;
    color: $light-text-color;
    display: inline-block;
    padding: 0.5rem 1rem;
    background: $accent-color;
    border: none;
  }
}
