@import '../../styles/settings.scss';

.about {
  max-width: 90%;
  &__img-container {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    shape-outside: circle();
    float: right;
    overflow: hidden;
    margin: 1rem;
  }
  &__img {
    width: 100%;
    transform: translateY(-30px);
  }
  &__text {
    display: inline;
    line-height: 1.5;

    &-part {
      display: block;
      margin-bottom: 2rem;
      strong {
        color: $main-color;
      }

      &:first-child {
        margin-top: 6rem;
      }
    }
  }

  &__cta {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    padding: 0.5rem 1rem;
    background: $main-color;
    border: none;
  }
}
