.about {
  max-width: 85%;
  &__img {
    width: 250px;
    align-self: flex-start;
    float: right;
    padding: 0 2.5rem 2.5rem;
  }
  &__text {
    display: inline;
    line-height: 1.5;

    span {
      display: block;
      margin-bottom: 4rem;
    }
  }
}
