@import '../../styles/settings.scss';

.form__container {
  margin-top: 4rem;
  border-radius: 1rem;
  display: grid;
  padding: 0 4rem;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-bottom: 10rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__text {
  line-height: 1.5;

  &-part {
    display: block;
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  strong {
    display: block;
    color: $secondary-color;
    margin-bottom: 1rem;
  }
}

.form__label {
  width: 100%;
  opacity: 0.9;
}

.form__input {
  background: transparent;
  border: none;
  border: 1px solid $accent-color;
  border-radius: 5px;
  margin-bottom: 2rem;
  color: $light-text-color;
  padding: 1rem;
  width: 100%;
  display: block;

  &--msg {
    min-height: 15rem;
    resize: none;
  }
}

.form__submit {
  padding: 1rem 3rem;
  background: $accent-color;
  color: $light-text-color;
  align-self: flex-start;
  border: none;
  letter-spacing: 0.08em;
  font-size: 1.3em;
  cursor: pointer;
}
