@import '../../styles/settings.scss';

// TODO: Refactor units, start from here

.header {
  color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 85%;
}


.hero-wrapper {
  font-size: 1.6rem;
  background-image: url('../../assets/cosmonaut.png');
  background-repeat: no-repeat;
  background-position: bottom 0 right 0px;
  background-size: 31em;
  width: 100%;
}

.hero {
  min-height: 45vmin;
  color: #fff;
  display: flex;
  width: 85%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 0 auto;

  &__title {
    font-size: 4em;
    letter-spacing: 0.05em;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 6rem;
    width: 60%;
    

    span {
      display: block;
      font-size: 0.4em;
      font-weight: 400;
      text-transform: none;
      opacity: 0.9;
    }
  }

  &__cta {
    padding: 0.3rem 0.9rem;
    color: #fff;
    background: transparent;
    border: none;
    outline: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 10rem;

    img {
      height: 24px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 70%;
      transform: translateX(35%);
      background: $main-color;
      z-index: -1;
      transition: filter 0.2s ease;
    }

    &:hover::before {
      filter: saturate(2);
    }
  }
}

// TODO: Add Media Queries for header__info

.header__info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 85%;

  &-item {
    padding-top: 30px;
    margin-bottom: 50px;
    opacity: 0.2;
    position: relative;
    border-top: 4px solid #333;
    &::after {
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      height: 4px;
      width: 15%;
      background: #a34bed;
      opacity: 0;
    }
    &:hover {
      opacity: 1;
      &::after {
        opacity: 1;
      }
    }
  }

  &-header {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &-text {
    max-width: 85%;
    line-height: 1.4;
  }
}

@media(max-width: 1024px){
  .header {
    max-width: 95%;
  }
  .hero-wrapper {
    background-size: 65vmin;
  }
  .hero__title {
    font-size: 9vmin;
  }
}

@media(max-width: 900px){
  .header {
    max-width: 100%;
  }
  .hero-wrapper {
    background-size: 60vmin;
  }
  .hero__title {
    width: 70%;
    font-size: 8vmin;
  }
}
@media(max-width: 700px){
  .hero__title {
    font-size: 7vmin;
  }
  .hero-wrapper {
    background-size: 50vmin;
  }
}
