@import '../../styles/settings.scss';

// TODO: Refactor units, start from here

.header {
  color: #fff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 85%;
}

.hero-wrapper {
  font-size: 1.6rem;
  background-image: url('../../assets/cosmonaut.png');
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
  background-size: 31em;
  width: 100%;
}

.hero {
  min-height: 45rem;
  color: #fff;
  display: flex;
  width: 85%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 0 auto;

  &__title {
    font-size: 4em;
    letter-spacing: 0.05em;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 6rem;
    max-width: 6em;

    span {
      display: block;
      font-size: 0.4em;
      font-weight: 400;
      text-transform: none;
      opacity: 0.9;
    }
  }

  &__cta {
    color: #fff;
    background: transparent;
    border: none;
    position: relative;
    height: 50px;
    width: 150px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 10rem;

    img {
      height: 24px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 80%;
      transform: translateX(15px);
      background: $main-color;
      z-index: -1;
      transition: transform 0.1s linear;
      transform-origin: right;
    }

    &:hover::before  {
      transform: translateX(15px) scaleX(1.2);
    }
  }
}

.header__info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  text-align: center;

  &-item {
    padding: 2rem;
    flex: 1 1 250px;
    opacity: 0.7;
    position: relative;
    border-top: 4px solid #333;
    &::after {
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      height: 4px;
      width: 15%;
      background: #a34bed;
      opacity: 0;
    }
    &:hover,
    &:focus {
      opacity: 1;
      &::after {
        opacity: 1;
      }
    }
  }

  &-header {
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-size: 1.2em;
  }

  &-text {
    line-height: 1.4;
  }
}

@media (max-width: 1024px) {
  .hero-wrapper {
    font-size: 1.5rem;
  }
}

@media (max-width: 980px) {
  .hero-wrapper {
    font-size: 1.4rem;
  }
}

@media (max-width: 900px) {
  .hero-wrapper {
    font-size: 1.3rem;
  }
  .header {
    max-width: 100%;
  }
}

@media (max-width: 850px) {
  .hero-wrapper {
    background-size: 25em;
  }
}

@media (max-width: 800px) {
  .hero {
    min-height: auto;
  }
  .hero-wrapper {
    background-size: 20em;
  }
}

@media (max-width: 600px) {
  .hero-wrapper {
    background-size: 15em;
  }
  .hero__title {
    font-size: 3em;
  }
}
