@import '../../styles/settings.scss';

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0 2rem;
  width: 60%;
  margin: 0 auto;

  &__title {
    letter-spacing: 0.1em;
    margin-bottom: 6rem;
    font-size: 2.5em;
    filter: drop-shadow(0 0 2px $main-color);
  }
}
