@import '../../styles/settings.scss';


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  background: $main-color;
  padding: 2rem 5rem;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;

  box-shadow: 0 0 1px $light-text-color;


  &__brand {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 3rem;

    &-text {
      display: inline-block;
      text-transform: uppercase;
      font-weight: bold;
      margin-left: 2rem;
      letter-spacing: 0.05em;
    }
  }
}

.nav__burger {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background: transparent;
  padding: 4px;
  border: none;
  cursor: pointer;
  position: relative;


  &-part {
    width: 100%;
    height: 2px;
    background: $light-text-color;
    transition: opacity 0.2s 0.2s ease, transform 0.2s 0.2s ease;

    &:nth-child(2) {
      transition: opacity 0.2s 0.2s ease, transform 0.2s 0.2s ease;
      width: 80%;
    }
  }
}

.nav__burger--open {
  .nav__burger-part {
    &:first-child {
      transform: translateY(10px) rotate(45deg);
    }
    &:nth-child(2) {
      opacity: 0;
      transition: opacity 0.2s ease, transform 0.2s ease;
      transform: translateX(500%);
    }
    &:last-child {
      transform: translateY(-10px) rotate(-45deg);
    }
  }
}

.nav__list {
  font-size: 1.6rem;
  position: absolute;
  padding: 20px 50px;
  right: 0;
  top: 100%;
  max-width: 100%;
  list-style: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.2s 0.1s ease-in-out;
  transform: scaleY(0);
  transform-origin: top;

  &--active {
    opacity: 1;
    transition: opacity 0.3s 0.2s ease-in-out, transform 0.3s 0.1s ease-in-out;
    transform: scaleY(1);
  }

  &-item {
    font-size: 3em;
    letter-spacing: 0.12em;
    cursor: pointer;
    display: block;
    padding: 0.5em;
    position: relative;
    background: transparent;
    color: $light-text-color;
    border: none;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 2em;
      height: 100%;
      z-index: -1;
      background: $secondary-color;
      transition: transform 0.1s linear;
      transform: scaleX(0);
      transform-origin: left;
      opacity: 0.9;
    }


    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.nav__list-item--active {
  color: $secondary-color;
  &::after {
    background: $light-text-color;
  }
}

@media (max-width: 450px) {
  .nav {
    padding: 1rem;
  }
}
