@import '../../styles/settings.scss';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
  height: 60px;
  background: #0c0c0c;
  padding: 10px 0;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;

  &__brand {
    display: flex;
    padding-left: 1rem;
    align-items: center;
  }

  &__logo {
    height: 36px;
    margin-right: 0.5rem;
  }

  &__developer {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
  }

  &__cta {
    padding: 8px 16px;
    background: $main-color;
    outline: none;
    border: none;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.1em;
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    left: calc(50% + 60px);
    transform: translateX(-50%) translateY(16px);
  }
}

.burger {
  width: 26px;
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background: transparent;
  outline: none;
  border: none;
  box-sizing: content-box;
  padding: 10px;
  cursor: pointer;

  &.open {
    .burger-part:nth-child(1){
      transform: translateY(8px) rotate(45deg);

    }
    .burger-part:nth-child(2){
      opacity: 0;
    }
    .burger-part:nth-child(3){
      transform: translateY(-9px) rotate(-45deg);
    }
  }
}

.burger-part {
  width: 100%;
  height: 3px;
  background: white;
  position: relative;
  transition: opacity 0.2s ease, transform 0.2s ease;

  &:nth-child(2) {
    width: 80%;
  }
}

.nav__list {
  position: absolute;
  padding: 1rem 2rem;
  height: 80vh;
  right: 0;
  top: 100%;
  list-style: none;
  opacity: 1;

  &.active {
    border: 1px solid red;
  }
}

.nav__item {
  font-size: 48px;
}
